/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

body {
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  background-color: rgb(3, 3, 154);
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

a,
a:visited {
  color: #fff;
}
main {
  min-width: 310px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 0;
  gap: 5px;
}

#setupForm {
  flex-grow: 1;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  gap: 5px;
}

.playerCard,
.playerDiv {
  border-radius: 10px;
  padding: 2px;
  gap: 2px;
}

.playerDiv {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  background-color: #fff;
  font-size: 0.9em;
}

.playerDiv > * {
  margin: auto;
}

#buttonDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}
#instructionSpan {
  grid-column: 1/-1;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 3px;
}

.errorMessage {
  color: red;
}

#addPlayerButton,
#removePlayerButton {
  grid-row: 2/2;
}

#startButton {
  grid-column: 1/-1;
  grid-row: -2/-1;
}

#playDiv {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  margin: 0;
}

.playerCard {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.nameDisplay,
.scoreDisplay,
.cardButton {
  font-size: 1.5em;
  font-weight: bold;
}

.nameDisplay,
.scoreDisplay {
  grid-column: 2 / -2;
  text-align: center;
  background-color: #fff;
  color: #222;
  margin: auto;
  padding: 5px;
  border-radius: 5px;
}

.nameDisplay {
  grid-row: 1 / -2;
}

.scoreDisplay {
  grid-row: 2 / -1;
}

.cardButton {
  grid-row: 1 / -1;
  width: 50%;
  aspect-ratio: 1 / 1;
  justify-self: center;
  align-self: center;
}
